<div class="flex flex-col w-full overflow-hidden">
  <div
    class="mx-auto w-full grid grid-cols-1 divide-x divide-dashed text-lg bg-background rounded-md shadow-md  dark:divide-slate-600 dark:bg-background md:w-[70%] md:grid-cols-3">
    <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
      <div class="pb-4 text-2xl text-primary">
        <i class="bi bi-person-plus-fill"></i>
        <span class="ml-2">Opciones</span>
      </div>
      <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
        <li class="w-full px-4 py-1 hover:text-primary/80 group">
          <a href="/enviar-correos">Enviar Correo</a>
        </li>
        <li class="w-full px-4 py-1 hover:text-primary/80 group">
          <a href="/enviar-notificacion">Enviar notificaciones</a>
        </li>
      </ul>
    </div>
  </div>
</div>
