<div class="relative z-40 bg-background">
  <div class="px-5 mx-auto">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <div class="flex items-center justify-start sm:order-2 md:mr-10">
        <img
          src="../../../../assets/images/dtt_morado_h_iso_ucb.png"
          alt="Logo"
          class="h-auto rounded w-[80%] xs:w-[55%] sm:w-[45%] md:w-[35%] lg:w-[30%] xl:w-[25%] 2xl:w-[20%] max-w-full dark:hidden"
        >
        <img
          src="../../../../assets/images/dtt_neg_h_iso_ucb.png"
          alt="Logo Dark Mode"
          class="h-auto rounded w-[80%] xs:w-[55%] sm:w-[45%] md:w-[35%] lg:w-[30%] xl:w-[25%] 2xl:w-[20%] max-w-full hidden dark:block"
        >
      </div>



      <div class="items-center inline-flex justify-end sm:order-4 md:flex md:flex-1 lg:w-0">

        <div class="relative ml-1">
          <div class="flex items-center">
            <a class="text-foreground">
              UCB APP
            </a>
          </div>
        </div>

        <div *ngIf="mostrarRutas()" class="relative ml-3">
          <button (click)="send()"
            class="py-1.5 px-2 bg-primary rounded-md text-white  hover:bg-primary/80 md:flex-1">Admin</button>
        </div>

        <div class="relative ml-3">

          <!--  settings -->
          <div class="flex items-center">
            <button (click)="toggleMenu()"
              class="flex items-center justify-center p-2 rounded bg-primary focus:outline-none focus:ring-1"
              type="button">
              <span class="sr-only">Open user menu</span>
              <svg-icon clickOutside (clickOutside)="isOpen = false" [svgClass]="'h-5 w-5'"
                src="assets/icons/settings.svg"> </svg-icon>
            </button>
          </div>

          <!-- Dropdown -->
          <div [@openClose]="isOpen ? 'open' : 'closed'"
            class="absolute right-0 z-20 py-4 mt-2 transition origin-top-right transform rounded-md w-60 bg-background shadow-custom ring-1 ring-transparent ring-opacity-5 focus:outline-none">
            <div class="flex items-center px-4 pb-4 flext-row">
              <div class="px-2 overflow-hidden text-sm font-semibold text-center text-foreground">
                Configuracion
              </div>
            </div>

            <div class="border-b border-dashed border-border"></div>

            <!-- Colores -->
            <hr class="border-dashed border-border" />
            <div class="mx-4 my-2">
              <span class="text-xs font-semibold text-foreground">Color</span>
              <div class="grid grid-cols-2 gap-2 mt-2">
                @for (item of themeColors; track $index) {
                <!-- muestra el item seleccionado -->
                <div :key="$index" (click)="toggleThemeColor(item.name)"
                  [ngClass]="{ 'border-muted-foreground bg-card': item.name == themeService.theme().color }"
                  class="inline-flex items-center justify-start h-8 px-3 text-xs font-medium transition-colors border rounded-md shadow-sm cursor-pointer focus-visible:ring-ring whitespace-nowrap border-border bg-background text-muted-foreground focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
                  <span [style.backgroundColor]="item.code"
                    class="flex items-center justify-center w-5 h-5 mr-1 -translate-x-1 rounded-full shrink-0 bg-rose-500"></span>
                  <p class="capitalize">{{ item.name }}</p>
                </div>
                }
              </div>
            </div>

            <!-- Modo oscuro -->
            <div class="mx-4 my-2">
              <span class="text-xs font-semibold text-foreground">Modo</span>
              <div class="grid grid-cols-2 gap-2 mt-2">
                @for (item of themeMode; track $index) {
                <div :key="$index" (click)="toggleThemeMode()"
                  [ngClass]="{ 'border-muted-foreground bg-card': item == themeService.theme().mode }"
                  class="inline-flex items-center justify-start h-8 px-3 text-xs font-medium transition-colors border rounded-md shadow-sm cursor-pointer focus-visible:ring-ring whitespace-nowrap border-border bg-background text-muted-foreground focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
                  <svg-icon [src]="item == 'light' ? 'assets/icons/sun.svg' : 'assets/icons/moon.svg'"
                    [svgClass]="'h-5 mr-2 w-5 text-muted-foreground/50'">
                  </svg-icon>
                  <p class="capitalize">{{ item }}</p>
                </div>
                }
              </div>
            </div>


          </div>

        </div>

      </div>

    </div>
  </div>

</div>
