<div class="w-full h-screen overflow-auto bg-card">

  <app-navbar class="sticky top-0"></app-navbar>

  <div class="p-4 mt-1 overflow-auto grow">

    <!-- main content -->
    <div id="main-content"
      class="overflow-auto scrollbar-thumb-rounded scrollbar-track-rounded grow scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted min-h-[80%]">
      <router-outlet></router-outlet>
    </div>
  </div>


  <footer
    class="sticky top-[100vh] bottom-0 left-0 w-full flex-col items-center max-w-[100%] text-center bg-background text-surface  text-foreground">
    <!--Copyright section-->
    <div class="w-full pb-2 text-sm text-center text-blue-400 bg-background" style="font-weight: 500;">
      © 2024 Copyright:
      <a href="https://www.facebook.com/UCBTarija/">Universidad Catolica Boliviana</a>,
      <a href="/about">  Acerca de nosotros
      </a>
    </div>
  </footer>

</div>
